<h1>Veiculos</h1>
<div class="container">
    {{#each veiculo}}
    <div class="container-style">
        <p id="name">{{this.id}}- {{this.marca}}</p>
        <p>Modelo: {{this.modelo}}</p>
        <p>Ano: {{this.ano}}</p>
        <p>disponibilidade:{{this.disponibilidade}} </p>
    </div>
    {{/each}}
</div>