    <div class="container-cliente">
    {{#each reservas}}
    <div class="container-reserva">
       <p id="reserva"> Nome do cliente: {{NOME_CLIENTE}}</p>
       <P id="reserva">Marca do veiculo: {{MARCA}}</P>
       <p id="reserva">Modelo do veiculo: {{MODELO}}</p>
       <p id="reserva">Inicio da reserva: {{DATA_INICIO}}</p>
       <P id="reserva">Fim da reserva: {{DATA_FIM}}</P>
     </div>
    {{/each}}
   </div>